<section class="container mx-auto mt-5">
    <h3 class="fs-1 lh-lg fw-semibold mt-5 text-center">Public Recipes</h3>
     <div class="public-c">
       <ul class="m-0 p-0">
         <% @recipes.each do |recipe| %>
         <li class="card list-style-none mb-3">
           <div class="card-header fs-4">
           <%= link_to recipe[:name], recipe_path(id: recipe[:id]) %>
           </div>
           <div class="card-body">
             <h5 class="card-title">By: <%= recipe[:user] %></h5>
               <div class="d-flex flex-column float-end ">
               <p>Total food items: <%= recipe[:ingredients_amount] %></p>
               <p>Total price: $<%= recipe[:ingredients_price] %></p>
             </div>
           </div>
         </li>
         <% end %>
           </ul>
     </div>
   </section>