<footer>
  <hr>
  <p class="text-center">Copyright &reg; 2022 <a href="https://github.com/Ewoskyx" class="text-decoration-none">Evren Ersoy</a> and 
    <a href="https://github.com/Hombre2014" class="text-decoration-none">Yuriy Chamkoriyski</a> - All rights reserved
  </p>
</footer>
