<footer>
  <hr>
  <span>Copyright &reg; 2022 <a href="https://github.com/Ewoskyx">Evren Ersoy</a> and 
  <a href="https://github.com/Hombre2014">Yuriy Chamkoriyski</a> - All rights reserved</span>
</footer>
